@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@font-face {
  font-family: blankit;
  src: url('../tipografia/Blankit\ 400.otf')
}
@font-face {
    font-family: futura;
    src: url('../tipografia/Futura\ Bold.otf')
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
}

h1::before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    top: 50%;
    z-index: -1;
}

h1 span{
    background-color: #fff;
    padding: 0 15px;
    color: rgb(36, 50, 97);
    font-family: blankit;
}
.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}
.img-gallery img:hover{
    transform: scale(1.2);
}
.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    margin-top: 70px;
}
.ful-img img{
    width: 90%;
    max-width: 600px;
}
@media screen and (max-width:400px){
    h1{
        text-decoration: underline;
    }
    h1::before{
        display: none;
    }
    h1 span{
        padding: 0;
    }
}
